.postBox{
    position: relative;
    background-color: white;
    padding: 5px;
    z-index: 10;
    
    border-style: solid;
    border-color: black;
}

input[type='text']{
    
}

button{
    border-style: solid;
    border-color: black;
    background-color: white;
}

.pac{
    pointer-events: none;

}